<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Connexion</title>
</head>
<body>
<h2>Connexion</h2>
<div th:if="${param.error}">
    <div style="color: red;">Nom d'utilisateur ou mot de passe invalide.</div>
</div>
<form action="/connexion" method="post">
    <div><label> Nom d'utilisateur: <input type="text" name="username"/> </label></div>
    <div><label> Mot de passe: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Se connecter"/></div>
</form>
</body>
</html>
