<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inscription</title>
</head>
<body>
<h2>Inscription</h2>
<div th:if="${error}">
    <p th:text="${error}" style="color: red;"></p>
</div>
<form action="/inscription" method="post">
    <div><label> Nom d'utilisateur: <input type="text" name="username"/> </label></div>
    <div><label> Mot de passe: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="S'inscrire"/></div>
</form>
</body>
</html>
